VITE_SUPABASE_URL=https://rvszefcleciwkgixrrvx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2c3plZmNsZWNpd2tnaXhycnZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4NDYxNjgsImV4cCI6MjA5MTQyMjE2OH0.sld00z-e8tKd9tkT5TclAyYJrzClr6wGaFnZvzoSGY0
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_cbp8P3gKDUUTuJQCwxp1jw_ZlZxh8Cn
